<html ng-app>
	<head>
		<title>SYNTHEN</title>
		<link rel="icon" href="./images/fav.ico" type="image/icon-x">
		<link rel="stylesheet" type="text/css" href="./css/main.css">
		<link rel="stylesheet" href="./css/ui-darkness/jquery-ui-1.10.4.custom.min.css">
	</head>
	<body ng-controller="openSongsController">
	
		<div class="box" id='userDiv'>
			<img id="avatarImage" src="{{currentUser.profilePic}}">
			<a class="button" id="logoutButton">logout</a>
		</div>
		
		<div class="box" id="topBar"> 
			<span id="titleSpan" ng-init="currentSong.name = 'New Song'">{{currentSong.name}}<span> <menu id="songMenu"> 
				<a src="#" class="button" id="newButton" ng-click="newSong()">New</a>
				<a src="#" class="button" id="openButton">Open</a> 
				<a src="#" class="button" id="saveButton">Save</a>
			</menu> 
			<div class="box" id="indicator"> </div>
		</div>
		
		<div class="box" id="synth">
			<div class="sythenRows">
				<a id="sythnButton_1" class="synthButton" data-sound-id="1"></a>
				<a id="sythnButton_2" class="synthButton" data-sound-id="2"></a>
				<a id="sythnButton_3" class="synthButton" data-sound-id="3"></a>
				<a id="sythnButton_4" class="synthButton" data-sound-id="4"></a>
			</div>
			<div class="sythenRows">
				<a id="sythnButton_5" class="synthButton" data-sound-id="5"></a>
				<a id="sythnButton_6" class="synthButton" data-sound-id="6"></a>
				<a id="sythnButton_7" class="synthButton" data-sound-id="7"></a>
				<a id="sythnButton_8" class="synthButton" data-sound-id="8"></a>
			</div>
			<div class="sythenRows">
				<a id="sythnButton_9" class="synthButton" data-sound-id="9"></a>
				<a id="sythnButton_10" class="synthButton" data-sound-id="10"></a>
				<a id="sythnButton_11" class="synthButton" data-sound-id="11"></a>
				<a id="sythnButton_12" class="synthButton" data-sound-id="12"></a>
			</div>
		</div>
		
		<div class="box" id="playbar">
			<hr/>
			<a id="recordButton" class="controlButton"><img src="../images/record.png"> </a>
			<a id="playButton" class="controlButton"> <img src="../images/play.png"></a>
			<a id="pauseButton" class="controlButton"><img src="../images/pause.png"> </a>
			<a id="stopButton" class="controlButton"> <img src="../images/stop.png"></a>
		</div>
		
		<div class="box" id="comments">
		<input id="commentInput" placeholder="Leave a Comment on this Song." ng-model="commentInput"></input>
		<button ng-click="leaveComment()" ng-disabled="!currentSong._id">Comment</button>
		<ol>
			<li ng-repeat="comment in comments">{{comment.comment}} - {{comment.username}} on {{comment.dateMade}}</lin>
		</ol>
		</div>
		
		<div id="saveDialog" title="Save Current Song.">
			<input id="newSongNameInput" placeholder="Song Name"></input>
			<button id="saveNewSongButton">Save</button>
		</div>
		
		<div id="openDialog" title="Open a Song">
			<ul>
				<li ng-repeat="song in songs">{{song.name}} <button ng-click="loadSong(song._id)">Open</button></li>
			</ul>
		</div>
		
		<div id="profileDialog" title="Profile">
			<img class="avatars" src="images/mroy.png"/>
			<img class="avatars" src="images/mario.jpg"/>
			<img class="avatars" src="images/sonic.png"/>
		</div>

		<script type="text/javascript" src="./javascript/libs/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="./javascript/libs/jquery-ui-1.10.4.custom.min.js"></script>
		<script type="text/javascript" src="./javascript/libs/angular.min.js"></script>
		<script type="text/javascript" src="./javascript/libs/soundjs.min.js"></script>
		<script type="text/javascript" src="./javascript/sythen.js"></script>
	</body>
</html>